* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    text-align: center;
    overflow-x: hidden;
    overflow-y: visible;
}

.countdown {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;
    height: 2rem;
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
}

.portada {
    height: 100%;
    background: url(img/foto1-xv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Sevillana', cursive;
    font-size: 2rem;
    color: white;
    position: relative;
}