@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=East+Sea+Dokdo&family=Yeon+Sung&family=Caveat&family=Kalam&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kalam&family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    text-align: center;
    overflow-x: hidden;
}

.countdown {
    display: flex;
    gap: 12px;
    justify-content: center;
    margin-top: 30px;
    height: 2rem;
    font-weight: lighter;
    font-family: 'Satisfy', cursive;
}

.animate__animated.animate__backInUp {
    animation-duration: 5s;
}

.animate__animated.animate__fadeIn {
    animation-duration: 0.6s;
}

#letraE, #letraL, #letraI, #letraS, #letraA, #letraAND, #letraP, #letrae, #letraD, #letraR, #letraO {
    animation: entradaGeneral 2s;
    display: inline-block;
    opacity: 0;
    animation-fill-mode: forwards;
}

#letraL {
    animation-delay: 400ms;
    animation-duration: 2s;
}

#letraI {
    animation-delay: 200ms;
}

#letraS {
    animation-delay: 300ms;
}

#letraAND {
    animation-delay: 1.5s;
    animation-duration: 2s;
}

#letraP {
    animation-delay: 500ms;
}

#letrae {
    animation-delay: 100ms;
}

#letraD {
    animation-delay: 470ms;
}

#letraR {
    animation-delay: 150ms;
}

#letraO {
    animation-delay: 350ms;
}

@keyframes entradaGeneral {
    0% {
        transform: scale(2);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.texto-inicial h1 {
    font-size: 4rem !important;
}

.portada {
    height: 100vh;
    background: url(img/foto1-xv.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    font-family: 'Sevillana', cursive;
    font-size: 2rem;
    color: white;
    position: relative;
}

.intro {
    position: relative;
    height: 100vh;
    width: 100%;
    font-family: 'Kalam', cursive;
}

.intro .fieston {
    position: absolute;
    top: -30px;
    left: -140vw;
    width: 140vw;
    rotate: 25deg;
}

.intro h3 {
    font-size: 50px !important;
}

.details {
    background-color: #B19470;
}

.lado-txts {
    background-color: black;
    color: white;
}

.goodbye {
    background-color: #AA5900;
}

.goodbye img {
    width: 50vw;
}

.donde {
    width: 100%;
}

.cuando {
    width: 100%;
    position: relative;
}